body{
	margin: 0px;
	padding: 0px;
	background: #F3F5FC;
}

.container{
	margin: auto;
	width: 960px;
	height: 650px;
	padding: 5px;
}

.logo{
	width: 100%;
	float: left;
}

.left{
	float: left;
	width: 70%;
	height: 70%;
	border-radius: 24px;

}

.right{
	float: right;
	width: 30%;
	height: auto;
	border-radius: 24px;
	background: white;
	box-shadow: grey;

}

.left-button{
	float: left;
	width: 70%;
	height: auto;
	border-radius: 24px;
	
}

.logoimg{
	margin-top: 1%;
	margin-left: 5%;
	float: inherit;

}

.tittle´{
	float: inherit;
	margin-left: 20%;
}

.text-input{
	float: left;
	margin-left: 10%;
	margin-top: 10%;
	width: 80%;
	height: 80%;
	color: #0A3871;
	font-size: 20px;
	border: none;
	outline: none;
	background: #F3F5FC;
}

#imgDer{
   margin-left: 2%;
   margin-top: 20%;
   width: 90%;
   height: auto;
}

#texto{
   margin-left: 7%;
   margin-right: 5%;
}

#texto2{
	float: left;
	margin-left: 10%;
	color: #0A3871;
	width: 80%;
	height: 25%;
	border: none;
	outline: 15%;
}

#btn-encriptar{
	padding: 24px;
	width: 30%;
	font-size: 16px;
	font-style: bold;
	color: black;
	height: 10%;
	border-radius: 24px;
	margin-left: 15%;
	background: #0A3871;
	transition: 1s background;
	cursor: pointer;
}

#btn-encriptar:hover{
	background: lightblue;

}

#btn-desencriptar{
	padding: 24px;
	width: 30%;
	font-size: 16px;
	color: black;
	height: 10%;
	border-radius: 24px;
	margin-left: 10%;
	background: grey;
	transition: 1s background;
	cursor: pointer;
}

#btn-desencriptar:hover{
	background: lightgray;
}

#copiar{
	margin-left: 33%;
	margin-top: 90%;
	padding: 24px;
	width: 40%;
	height: 10%;
	background: #D8DFE8;
	border-radius: 24px;
	display: none;
}

/*Funcion para ponerloo responsive*/
@media screen and (max-width:480px){
	h1{
		text-align: center;
	}

	.container, .logoimg, .right, .left, .left-button, #btn-button, #btn-encriptar, #btn-desencriptar, #imgDer, #texto #texto2, #copiar{
		width: auto;
	}
}